/* charity: water 

*/body {
    font-family: #004aad, Canva sans;
    background-color: #fcf0a8 
    color: #004aad;
}

header {
    background-color: #fcf0a8; 
    color: #004aad;*/
}

button {
    background-color: 
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 6px;
} Donate {
    background-color: #5e17eb
    
}
